<div >
    <% if user_signed_in?%>
<div class="d-flex align-items-center justify-content-center mt-4">
  <span class="d-flex flex-column align-items-center">Hello<h1 class = "username"><%= current_user.username %></h1></span>
</div>
<%end%>

<div class="d-flex align-items-center justify-content-center mt-4">
  <h2 class="display-3">Welcome to the Library System</h2>
</div>

</div>